# General settings
connect_from_port_20=YES
listen=YES
pam_service_name=vsftpd

local_enable=YES
local_umask=022

write_enable=YES

pasv_enable=YES
pasv_min_port=12000
pasv_max_port=12005
port_enable=YES
file_open_mode=0775

